.main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  > h1 {
    font-size: 2rem;
  }
}

.dateTime {
  font-size: 1.25rem;;
}