.container {
  padding: 16px;
  color: #212121;
  line-height: 1.5;

  .form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    > label {
      display: flex;
      align-items: center;
      gap: 8px;

      > span {
        width: 100px;
      }

      > input, > select {
        flex: 1;
        padding: 4px;
      }
    }
  }

  > button {
    padding: 4px 8px;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
  }
}