.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;

  > div > button {
    padding: 8px;
    border-style: none;
    border-radius: 8px;
    cursor: pointer;

    &.common {
      background-color: rgba(255, 255, 255, 0);
    }

    &.selected {
      background-color: #e0e0e0;
    }
  }
}
