.dropdown {
  width: 160px;
  display: flex;
  flex-direction: column;
  border: 1px solid #BDBDBD;

  > button {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-style: none;
    box-sizing: border-box;
    background-color: #FFFFFF;
    cursor: pointer;
  }

  > ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  > ul > li {
    padding: 8px;
    cursor: pointer;

    &:hover {
      background-color: #EEEEEE;
    }
  }
}