@keyframes fadeIn {
  from {
    opacity: 0;
  } /* 시작 지점 */
  to {
    opacity: 1;
  } /* 끝 지점 */
}

@keyframes fadeOut {
  from {
    opacity: 1;
  } /* 시작 지점 */
  to {
    opacity: 0;
  } /* 끝 지점 */
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  animation: fadeIn 0.15s ease-out forwards;

  &.close {
    animation: fadeOut 0.1s ease-out forwards;
  }
}

.body {
  min-width: 300px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #212121;
  line-height: 1.5;
  border-radius: 4px;
  background-color: #ffffff;
  box-sizing: border-box;

  > h1 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  > div {
    display: flex;
    gap: 12px;

    > button {
      flex: 1;
      padding: 8px 0;
      font-size: 1rem;
      border-style: none;
      border-radius: 4px;
      cursor: pointer;
      background-color: #e0e0e0;
    }
  }
}
