#drop-zone {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  background-color: #eeeeee;

  > input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
}

#status-zone {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
}

#status-zone > .upload-status-item {
  width: 100%;
  display: flex;
  gap: 8px;

  > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 4px;
    font-size: 0.9rem;

    > div:last-child {
      border-radius: 2px;

      > span {
        width: 0;
        display: flex;
        align-items: center;
        border-radius: 2px;
        box-sizing: border-box;
      }

      > span.success {
        height: 16px;
        background-color: #81c784;
        animation: fillWidth 0.1s ease-in-out forwards;
      }

      > span.fail {
        width: 100%;
        padding: 8px;
        font-size: 0.75rem;
        color: #FFFFFF;
        background-color: #D32F2F;
      }
    }
  }

  > img {
    display: none;
    width: 100px;
    height: 100%;
    object-fit: contain;
  }
}

@keyframes fillWidth {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
