.container {
  margin: 0 auto;
  padding: 16px 0;
  min-width: 320px;
  max-width: 1024px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-sizing: border-box;
}

.tools {
  display: flex;
  gap: 4px;

  > button {
    border: 1px solid #9E9E9E;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
  }
}

.editor {
  flex: 1;
  padding: 16px;
  height: 480px;
  overflow-y: auto;
  box-sizing: border-box;
  outline-style: none;
  border: 1px solid #9E9E9E;
  background-color: #FAFAFA;
}