.container {
  margin: 0 auto;
  padding: 16px 0;
  min-width: 320px;
  max-width: 1024px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-sizing: border-box;
}

.tools {
  display: flex;
  gap: 4px;

  > button {
    border: 1px solid #9e9e9e;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
  }

  > input {
    padding: 0 4px;
    outline-style: none;
    border: 1px solid #9e9e9e;
    border-radius: 4px;
  }
}

.editor, .preview {
  padding: 16px;
  height: 320px;
  line-height: 1.5;
  overflow-y: auto;
  box-sizing: border-box;
  outline-style: none;
  border: 1px solid #9e9e9e;
  background-color: #fafafa;

  b, strong {
    font-weight: bold;
  }

  i {
    font-style: italic;
  }

  ul {
    list-style: disc;
  }
}

.preview {
  flex: 1;
}