.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #212121;
  line-height: 1.5;
  overflow-y: auto;
}

.table {
  width: 100%;
  font-size: 0.9rem;
  box-sizing: border-box;

  > thead > tr {
    font-weight: 500;
    border-bottom: 1px solid #bdbdbd;

    > th:nth-child(1) {
      width: 40px;
    }

    > th {
      padding: 8px;
      cursor: pointer;
    }
  }

  > tbody > tr {
    border-bottom: 1px solid #bdbdbd;

    &.inactive {
      background-color: #ffebee;
    }

    > td {
      padding: 8px;
      text-align: center;
    }

    > .userInfo {
      display: flex;
      flex-direction: column;
      gap: 4px;

      > div:nth-child(1) {
        display: flex;
        align-items: center;
        gap: 4px;
      }

      > div:nth-child(3) {
        font-size: 0.8rem;
        font-weight: 500;
      }
    }
  }
}

.pager {
  flex-shrink: 0;
  display: flex;
  /* flex-wrap: nowrap; */
  overflow-x: auto;

  > a {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:first-child {
      margin-left: auto;
    }

    &:last-child {
      margin-right: auto;
    }

    &.selected {
      font-weight: 600;
      line-height: 1;
      background-color: #e0e0e0;
      border-radius: 16px;
    }
  }
}
