header {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  > button {
    padding: 0 8px;
    height: 48px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
  }

  .selected {
    background-color: #eeeeee;
  }
}
