.container {
  display: flex;
  justify-content: flex-end;
  gap: 4px;

  > button {
    padding: 4px 8px;
    color: #212121;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;

    &.common {
      background-color: #EEEEEE;
    }

    &.selected {
      background-color: #FFF59D;
    }
  }
}
