.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;

  > button {
    padding: 4px 8px;
    color: #212121;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;

    &.toggle {
      padding: 4px;
      display: flex;
      gap: 4px;
    }

    &.common {
      background-color: #eeeeee;
    }

    &.selected {
      background-color: #fff59d;
    }

    &.light {
      background-color: var(--lightBg);
    }

    &.dark {
      background-color: var(--darkBg);
    }
  }
}
